<div class="products container">
  <div class="row content-card">
      <!------- Start first card ------->
      <div class="prd-card card-box col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let product of productList">
        <div class="card">
          <img src="https://picsum.photos/200" />
          <h3> {{product.ProductName}} </h3>
          <div class="row">
            <div class="col-md-6 col-12">
              <p> {{product.ProductPrice }} $ </p>
            </div>
    
            <div class="col-md-6 col-12">
              <ngb-rating
                [max] = "5"
                [rate]="2"
                [readonly] = "true"
              ></ngb-rating>
            </div>
          </div>
        </div>
      </div>
      <!------- End first card ------->

  </div>
</div>
