<div class="products container">
  <!-- Class Row For Responsive design by bootstrab -->
  <div class="row">
    <div class="col-md-9 col-12">
      <!------- Start card Parent and use Structural directive(ngFor) for repeating card according to data in json file ------->
      <div 
        class="prd-card card-box col-md-9 col-sm-6 col-12" *ngFor="let product of productList" 
      >
        <!------- use attribute directive[ngStyle] for Highlight card according to less of AvailablePieces ------->
        <div 
          class="card" 
          [ngStyle]="{
          'background-color': product.AvailablePieces <= 5 ? '#ecc3ea' : '#fafafa'
          }"
        >
          <!-- Show Image from json data -->
          <div class="prd-image">
            <img [src] = "product.ProductImg" alt="productImage" title="productImage" />
          </div>
          
          <!-- Show name -->
          <div class="prd-name">
            <h3> {{product.ProductName}} </h3>
          </div>

          <!-- Create Div for showing Amount -->
          <div class="amount">
            <h6>Quantity: {{ product.AvailablePieces }} </h6>
          </div>

          <!-- Make this div more responsive by bootstrap instead of using class d-flex  -->
          <div class="row">
            <div class="col-md-6 col-12">
              <p> {{product.ProductPrice }} $ </p>
            </div>
    
            <!-- This start rsting for veiw not express about anything -->
            <div class="col-md-6 col-12">
              <ngb-rating
                [max] = "5"
                [rate]="2"
                [readonly] = "true"
              ></ngb-rating>
            </div>
          </div>

          <!-- Create Button to user make order -->
          <div>
            <button class="bttn" type="button" (click)="addOrder(product)" >Make Order</button>
          </div>
        </div>
      </div>
      <!------- End first card ------->
    </div>


      <!-- ORder page and i remove this code after making routing -->
      <div class="col-md-3 col-12">
        <!-- Start Order Page -->
        <div class="order-parent">
          <!-- First Row -->
          <div class="f-row">
            <h3 class="order-heading">Order List</h3>
          </div>

          <div class="s-row">
            <h3>Order Total Price: {{totalPrice | currency}} </h3>
            <button class="bttn btn-checkout" (click)="checkout()">Begin Checkout</button>
          </div>
          <hr />

          <!-- Third Row 'this row contains all of orders data' -->
          <div class="order-data" *ngFor="let order of orderList">
            <div class="">
              <!-- Div to Show User ID -->
              <div class="user-name">
                <h3>{{ order.ProductName }} </h3>
              </div>

              <!-- Div to Show Products in Oerder -->
              <div class="order-prd" >
                <img [src] = "order.ProductImg" alt="productImage" title="productImage" />
              </div>

              <!-- Div To show Payment Method -->
              <div class="order-pay">
                <input min="1" [max]="order.AvailablePieces" type="number" value="1" name="" class="form-control" [(ngModel)] = "order.AvailablePieces" [ngModelOptions]="{standalone: true}" >

                <!-- <span>SubTotal: {{order.ProductPrice}} </span> -->
              </div>

              <!-- Div For showing total price for this order -->
              <div class="order-price">
                <h4>SubTotal: {{ order.AvailablePieces * order.ProductPrice | currency }} </h4>
              </div>
            </div>
          </div>

        </div>
        <!-- End Order Page -->
      </div>
      



  </div>

</div>
