.products {
    margin-top: 50px;

    // Style for each card
    .prd-card .card {
        border: 1px solid #eee;
        background-color: #fafafa;
        padding: 20px ;
    }

    .prd-card .card:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    img {
        width: 100% ;
        padding-bottom: 25px
    }

    // Style for stars rating
    ngb-rating {
        color: #FFC107 ;
        font-size: 20px ;
    }
}