<div class="products container">
  <!-- Class Row For Responsive design by bootstrab -->
  <div class="row">
      <!------- Start card Parent and use Structural directive(ngFor) for repeating card according to data in json file ------->
      <div 
        class="prd-card card-box col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let product of productList" 
      >
        <!------- use Structural directive(*ngIf) for Highlight card according to less of AvailablePieces ------->
        <div 
          class="card" 
          [ngStyle]="{
          'background-color': product.AvailablePieces <= 5 ? '#ecc3ea' : '#fafafa'
          }"
        >
          <!-- Show Image from json data -->
          <img [src] = "product.ProductImg" alt="productImage" title="productImage" />
          <!-- Show name -->
          <h3> {{product.ProductName}} </h3>
          <!-- Make this div more responsive by bootstrap instead of using class d-flex  -->
          <div class="row">
            <div class="col-md-6 col-12">
              <p> {{product.ProductPrice }} $ </p>
            </div>
    
            <!-- This start rsting for veiw not express about anything -->
            <div class="col-md-6 col-12">
              <ngb-rating
                [max] = "5"
                [rate]="2"
                [readonly] = "true"
              ></ngb-rating>
            </div>
          </div>
          <!-- Create Button to user make order -->
          <div>
            <button class="bttn" type="button">Make Order</button>
          </div>
        </div>
      </div>
      <!------- End first card ------->

  </div>
</div>
