<!-- navbar -->
<navbar class="navbar" role="banner">
  <!-- Using Container Div to make beautiful shape to nav by padding -->
  <div class="container">
    <!-- First div for heaser of navber ' NAme for website ' -->
    <div class="header col-md-6 col-12">
      <h1> <a routerLink="/products"> E-Commerce </a> </h1>
    </div>
    
    <!-- Second Div for All items in navbar -->
    <div class="items col-md-6 col-12">
      <ul class="list">
        <li><a routerLink="/products"> Products </a></li>
        <li><a routerLink="/order"> New Orders </a></li>
        <li> <a routerLink="/allOrders"> All Orders </a> </li>
      </ul>
    </div>
  </div>  
</navbar>