
// var 
$txt-color: rgb(117, 117, 117);
$text-position : center;

// Mixins
@mixin HandleFlexItems {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@mixin HandleTxtProduct {
text-align: $text-position;
font-weight: bold;
}


// Center Section
.order-parent {
    margin: 80px 0px;

    .center-sec { 
        .order-heading {
        @include HandleTxtProduct()
        }

        .s-row { 
            @include HandleFlexItems();
    
            button {
                background-color: transparent;
                color: black ;
                font-size: 22px;
                border: none;
            }
        }

        .order-data {
            margin-top: 40px ;
            border: 1px solid #eee;
            background-color: #fafafa;
            padding: 20px ;
            margin-bottom: 20px ;
            
            .order-prd { text-align: center }
        }
    }
    
}