<div class="body-container">
  <!-- Start Order Page -->
  <div class="order-parent">
    <div class="container">
      <div class="row">
        <section class="col-1"></section>
        <!-- Center secion, I can Implement all code Inside it -->
        <section class="col-10 center-sec">
          <!-- First Row -->
          <div class="f-row">
            <h3 class="order-heading">Order List</h3>
          </div>

          <!-- Second Row -->
          <div class="s-row">
            <button class="online-btn">Buy Online</button>
            <button class="cash-btn">Buy Cash</button>
          </div>
          <hr />

          <!-- Third Row 'this row contains all of orders data' -->
          <div class="order-data" *ngFor="let order of orderList">
            <div class="row">
              <!-- Div to Show User ID -->
              <div class="col-md-4 col-12 user-name">
                <h3>User{{ order.UserId }} </h3>
              </div>

              <!-- Div to Show Date in Oerder -->
              <div class="col-md-6 col-12 order-prd" >
                <h4> {{order.OrderDate}} </h4>
              </div>

              <!-- Div To show Payment Method -->
              <div class="col-md-2 col-12 order-pay">
                <h4>  {{order.PaymentType}} </h4>
              </div>

            </div>
          </div>

        </section>
        <section class="col-1"></section>
      </div>
    </div>
  </div>
  <!-- End Order Page -->
</div>
